// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared_color";

.one_article {
  margin-bottom: 10px;
  
  height: 55px;

  .article_icon {
    float: left;
    padding-top: 5px;
    padding-left: 10px;
  }

  .article_content {
    float: left;
    padding-left: 10px;
    padding-top: 5px;
  }

  a {
    text-decoration: none;
    color: $my_blue;
  }

  a:hover {
    color: darken($my_blue, 20%);
  }
}

.article_title {
  font-size: 18px;
}

.article_comment {
  padding-left: 80px;
}

.article_date_comment {
  color: #8A8A8A;
}