// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared_color";

.show_article_comment {
  color: darken($my_blue, 20%);
  padding-left: 20px;
}

.one_article_comment {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;

  p {
    display: inline;
  }
}

.add_comment_bloc {
  padding: 5px;
  font-size: 13px;
  width: 630px;
  margin: auto;
  background-color: #8A8A8A;

  td {
    vertical-align: top;
    text-align: left;
  }
}

#list_comment_bloc {
  padding: 5px;
  width: 630px;
  margin: auto;
}

.comment_author {
  color: darken($my_blue, 20%);
  font-weight: bold;
  font-size: 12px;
}

.comment_published_on {
  padding-left: 10px;
  color: #8A8A8A;
  font-size: 11px;
}

.comment_hr {
  background-color: #ABABAB;
  font-size: 0;
  height: 1px;
  border: 0.07em solid #F3F3F3;
}