@import "shared_color";

body {
  font:14px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  color:black;
  margin: 0px;
  margin: auto;
  background: url(/images/background.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

#myblog_headline_container {
  color: white;
  font-size: 16px;
  width: 100%;
  margin: auto;
  background-color: rgba(5, 5, 5, .7);
  border-bottom: 0.01em solid lighten(black, 30%);
  height: 40px;
  line-height: 40px;

  .myblog_headline {
    padding-left: 170px;
  }

  .myblog_socialnetwork {
    padding-left: 400px;
    color: $my_blue;
    img {
      vertical-align: middle;
    }
  }
}


#myblog_page {
  width: 1000px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(5, 5, 5, .7);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  margin: auto;
  border: 0.01em solid lighten(black, 30%);
  border-top: 0px;
}

#myblog_page_container {
  padding: 40px;
  padding-top: 20px;
}
  

#logo {
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 5px;
  width: 250px;
  float: left;

  blockquote {
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    width: 250px;
    margin: 0.25em 0;
    margin-top: 15px;
    padding-left: 10px;
    line-height: 1.45;
    position: relative;
    color: white;
  }
}




#myblog_body {
  clear: both;
  overflow: hidden;

  #myblog_body_articles {
    
    float: left;
  }

}

#myblog_body_rightside {
  margin-left: 5px;
  width: 200px;
  float: right;

  .myblog_menu_header {
      background-color: #353535;
      width: 198px;
      border-bottom: 1px solid grey;
      color: darken(white, 10%);
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      

      img {
        vertical-align: middle;
        text-align: left;
        padding-left: 10px;
        padding-right: 5px;
      }
  }

  #myblog_body_categories {
    border: 1px solid grey;
    background: none;

    li {
      list-style: none;
      margin-left:0;
      padding-left:0;
      display : list-item;
      list-style-image: url('/images/bullet_point.png');
    }

    a {
      text-decoration: none;
      color : white;
    }

    a:hover {
      color: $my_blue;
    }

  }
}


